<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
    href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Pacifico&display=swap" 
    rel="stylesheet"
    />
    <link rel="shortcut icon" href="/static/assets/images/logo/html-5.png">
</head>
<body class="scroll">
    <header class="encabezado">
        <nav class="navegacion">
            <a class="navegacion__enlace" href="#presentacion">
                <h2 class="navegacion__titulo">Informatorio</h2>
            </a>
            <ul class="enlaces">
                <li class="enlaces__item">
                    <a class="enlaces__enlace" href="#presentacion">Inicio</a>
                </li>
                <li class="enlaces__item">
                    <a class="enlaces__enlace" href="#sobre-mi">Sobre mi</a>
                </li>
                <li class="enlaces__item">
                    <a class="enlaces__enlace" href="#proyectos">Proyectos</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="principal">
        <section class="presentacion" id="presentacion">
            <div class="presentacion__contenedor_info">
                <h1 class="presentacion__titulo">Soy desarrollador</h1>
                <p class="presentacion__parrafo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At quisquam maiores soluta vel non exercitationem eveniet dolores, nesciunt illo esse distinctio dignissimos maxime deserunt cupiditate. Quas quae nisi ratione odio?
                </p>
                <div class="presentacion__contenedor_botones">
                    <a href="#sobre-mi" class="boton" role="button">Sobre mi</a>
                    <a 
                    href="/static/assets/docs/Lezcano Claudio Federico curriculum.pdf" 
                    target="_blank" 
                    class="boton boton_oscuro" 
                    role="button"
                    >Descargar CV
                    </a>
                </div>
            </div>
        </section>
        <article class="articulo sobre_mi" id="sobre-mi">
            <h2 class="articulo__titulo">Un poco sobre mi</h2>
            <div class="articulo__contenedor_descripciones">
                <section class="seccion_descripcion">
                    <div class="seccion_descripcion__porta_retrato">
                        <img 
                        src="/static/assets/images/profile/yo.jpeg" 
                        alt="Foto de Claudio Lezcano" 
                        class="seccion_descripcion__imagen"
                        title="Foto de Claudio Lezcano"
                        />
                    </div>
                    <div
                        class="seccion_descripcion__info scroll scroll_fino scroll_gris"
                        aria-label="Descripción de Claudio Lezcano"
                    >
                        <h3 class="seccion_descripcion__titulo" id="mi_historia_titulo">
                            Mi historia
                        </h3>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mi historia"
                            aria-describedby="mi_historia_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, 
                            voluptatum asda sd asdasd asd asdfasfasfa 
                            asdfasfdasfasfasf
                            asdasdasd
                        </p>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mi historia"
                            aria-describedby="mi_historia_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugit
                            voluptas deleniti officiis quas doloribus eum sequi, illum amet! Iste nam 
                            vitae atque voluptatum iusto excepturi vero alias nemo facilis!
                            asdasdasfdasfasf
                        </p>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mi historia"
                            aria-describedby="mi_historia_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugit voluptas 
                            deleniti officiis quas 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vitae quasi natus dolores aut iusto ad illum labore dignissimos, 
                            voluptas ut non aliquam provident rerum eaque sunt in sapiente ipsum?
                        </p>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mi historia"
                            aria-describedby="mi_historia_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugit voluptas 
                            deleniti officiis quas 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Laudantium vitae quasi natus dolores aut iusto ad illum labore dignissimos, 
                            voluptas ut non aliquam provident rerum eaque sunt in sapiente ipsum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos 
                            consequatur quod molestiae deserunt rerum, beatae fugiat eos maiores eum quo eligendi,
                            dolorem cumque laudantium distinctio velit optio vel enim corrupti! 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi 
                            animi ea quos numquam repellendus fugiat laborum rerum minus suscipit sapiente,
                            reprehenderit, deleniti adipisci tempore voluptatem consectetur cupiditate abdolorem cumque laudantium distinctio velit optio vel enim corrupti! 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi 
                            animi ea quos numquam repellendus fugiat laborum rerum minus suscipit sapiente,
                            reprehenderit, deleniti adipisci tempore voluptatem consectetur cupiditate ab
                            asdasdasdasd 
                        </p>
                    </div>
                </section>
                <section class="seccion_descripcion">
                    <div
                        class="seccion_descripcion__info scroll scroll_fino scroll_gris"
                        aria-label="Descripción de Claudio Lezcano"
                    >
                        <h3 class="seccion_descripcion__titulo" id="mis_hobbies_titulo">
                            Mis hobbies
                        </h3>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mis hobbies"
                            aria-describedby="mis_hobbies_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam, voluptatum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas quam ipsa cupiditate ex aliquid nisi pariatur provident excepturi, alias, nemo praesentium quo, nesciunt est aliquam vel dolores voluptatibus necessitatibus commodi?
                            fasfasfasf
                            sadasfasfasf
                        </p>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mis hobbies"
                            aria-describedby="mis_hobbies_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugit voluptas deleniti officiis quas doloribus eum sequi, illum amet! Iste nam vitae atque voluptatum iusto excepturi vero alias nemo facilis!
                        </p>
                        <p 
                            class="seccion_descripcion__parrafo"
                            aria-label="detalle de mis hobbies"
                            aria-describedby="mis_hobbies_titulo"
                        >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugit voluptas deleniti 
                            officiis quaslore Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio autem earum in 
                            tenetur consequatur quos adipisci nostrum sed quasi id quod aut quis neque unde, et dolorem libero 
                            beatae ipsam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid a veritatis numquam a
                            speriores atque aliquam veniam voluptatum quae, amet vel minus quibusdam temporibus facere nobis saepe, quaerat quo! Beatae, 
                        </p>
                        <p
                            class="seccion_descripcion__parrafo"
                            aria-label="Detalles de mis hobbies"
                            aria-describedby="mis_hobbies_titulo"
                        >
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Molestiae dolorem quasi atque deserunt odio, minima saepe
                            delectus nemo praesentium sapiente labore excepturi quos
                            repellat non, officiis, ea vero commodi reiciendis.
                        </p>
                    </div>
                    <div class="seccion_descripcion__porta_retrato">
                        <img 
                        src="/static/assets/images/profile/yo2.jpeg" 
                        alt="Foto de Claudio Lezcano sentado" 
                        class="seccion_descripcion__imagen"
                        title="Foto de Claudio Lezcano"
                        />
                    </div>
                </section>
            </div>
        </article>
        <article class="articulo proyectos" id="proyectos">
            <h2 class="articulo__titulo" >Mis proyectos</h2>
            <div class="contenedor_tarjetas_grid" >
                <article 
                    class="tarjeta" 
                    aria-label="presentacion de proyecto personal"
                >
                    <img 
                    class="tarjeta__imagen"
                    src="/static/assets/images/proyecto/01aa4464-f883-4bbc-94b2-653efa348e53.jfif"
                    alt="foto del proyecto"
                    title="proyecto 1"
                    />
                    <div class="tarjeta__contenido">
                        <h3 class="tarjeta__titulo" id="titulo_proyecto_1">PostIT</h3>
                        <span class="tarjeta__divisor" ></span>
                        <p
                        class="tarjeta__parrafo scroll scroll_fino"
                        aria-label="descripcion de proyecto personal"
                        aria-describedby="titulo_proyecto_1"
                        >
                        es un proyecto realizado en grupo en el informatorio el año 2021 realizado con django,HTM, CSS y Javasript.  Me encarge de la parte del backend junto con otros 2 colegas. realizamos las funcionalidades. Un Proyecto sencillo es una aplicacion web que lo que hace es ir agregando o quitando notas en una cuenta personal.
                        estas pueden modicarse su contenido como su color. tambien  se puede buscar entre las notas del usuario la busqueda es por titulo o por conbtenido o por fecha
                        las credenciales de usuarios son las que vienen por defecto en djangoagregamos una 
                        parte de informacion donde estan los integrantes del proyectos
                        con sus linkedin peronal.
                        </p>
                        <a href="#" class="boton boton_oscuro" target="_blank"
                        >Ver proyecto</a>
                    </div>
                </article>
                <article 
                    class="tarjeta" 
                    aria-label="presentacion de proyecto personal"
                >
                    <img 
                        class="tarjeta__imagen"
                        src="/static/assets/images/proyecto/0945f5a0-28a5-4320-ae53-451414671b6a.jfif"
                        alt="foto del proyecto"
                        title="proyecto 2"
                    />
                    <div class="tarjeta__contenido">
                        <h3 class="tarjeta__titulo" id="titulo_proyecto_2">titulo 2</h3>
                        <span class="tarjeta__divisor" ></span>
                        <p
                            class="tarjeta__parrafo scroll scroll_fino scroll_gris"
                            aria-label="descripcion de proyecto personal"
                            aria-describedby="titulo_proyecto_2"
                        >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. E
                        xplicabo aperiam magni illum dolorem aut minus! Assumenda, 
                        alias voluptatum pariatur, quidem blanditiis eius, perspiciatis beatae 
                        sit expedita reiciendis animi quos a.
                        </p>
                        <a href="#" class="boton" target="_blank">Ver proyecto</a>
                    </div>
                </article>
                <article 
                    class="tarjeta" 
                    aria-label="presentacion de proyecto personal"
                >
                    <img 
                    class="tarjeta__imagen"
                    src="/static/assets/images/proyecto/626c59fb-0180-407f-9cdf-fe34b5226480.jfif"
                    alt="foto del proyecto"
                    title="proyecto 3"
                    />
                    <div class="tarjeta__contenido">
                        <h3 class="tarjeta__titulo" id="titulo_proyecto_3">titulo</h3>
                        <span class="tarjeta__divisor" ></span>
                        <p
                        class="tarjeta__parrafo scroll scroll__fino"
                        aria-label="descripcion de proyecto personal"
                        aria-describedby="titulo_proyecto_3"
                        >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. E
                        xplicabo aperiam magni illum dolorem aut minus! Assumenda, 
                        alias voluptatum pariatur, quidem blanditiis eius, perspiciatis beatae 
                        sit expedita reiciendis animi quos a.
                        </p>
                        <a href="#" class="boton boton_oscuro" target="_blank"
                            >Ver proyecto</a
                        >
                    </div>
                </article>
                <article 
                    class="tarjeta" 
                    aria-label="presentacion de proyecto personal"
                >
                    <img 
                    class="tarjeta__imagen"
                    src="/static/assets/images/proyecto/ceeba2d2-7324-4c1d-a2c2-ea1447ec328a.jfif"
                    alt="foto del proyecto"
                    title="proyecto 4"
                    />
                    <div class="tarjeta__contenido">
                        <h3 class="tarjeta__titulo" id="titulo_proyecto_4">titulo 4</h3>
                        <span class="tarjeta__divisor" ></span>
                        <p
                        class="tarjeta__parrafo scroll scroll_fino scroll_gris"
                        aria-label="descripcion de proyecto personal"
                        aria-describedby="titulo_proyecto_4"
                        >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. E
                        xplicabo aperiam magni illum dolorem aut minus! Assumenda, 
                        alias voluptatum pariatur, quidem blanditiis eius, perspiciatis beatae 
                        sit expedita reiciendis animi quos a.
                        </p>
                        <a href="#" class="boton" target="_blank">Ver proyecto</a>
                    </div>
                </article>
                <article 
                    class="tarjeta" 
                    aria-label="presentacion de proyecto personal"
                >
                    <img 
                    class="tarjeta__imagen"
                    src="/static/assets/images/proyecto/ac1723ec-0ef6-4c86-928f-05bd5a1b7614.jfif"
                    alt="foto del proyecto"
                    title="proyecto 5"
                    />
                    <div class="tarjeta__contenido">
                        <h3 class="tarjeta__titulo" id="titulo_proyecto_5">titulo 5</h3>
                        <span class="tarjeta__divisor" ></span>
                        <p
                        class="tarjeta__parrafo scroll scroll_fino"
                        aria-label="descripcion de proyecto personal"
                        aria-describedby="titulo_proyecto_5"
                        >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. E
                        xplicabo aperiam magni illum dolorem aut minus! Assumenda, 
                        alias voluptatum pariatur, quidem blanditiis eius, perspiciatis beatae 
                        sit expedita reiciendis animi quos a.
                        </p>
                        <a href="#" class="boton boton_oscuro" target="_blank"
                            >Ver proyecto</a
                        >
                    </div>
                </article>
                <article 
                    class="tarjeta" 
                    aria-label="presentacion de proyecto personal"
                >
                    <img 
                    class="tarjeta__imagen"
                    src="/static/assets/images/proyecto/df6a184b-8613-4ab7-97be-3c5cc05fd65f.jfif"
                    alt="foto del proyecto"
                    title="proyecto 6"
                    />
                    <div class="tarjeta__contenido">
                        <h3 class="tarjeta__titulo" id="titulo_proyecto_6">titulo 6</h3>
                        <span class="tarjeta__divisor" ></span>
                        <p
                            class="tarjeta__parrafo scroll scroll_fino scroll_gris"
                            aria-label="descripcion de proyecto personal"
                            aria-describedby="titulo_proyecto_6"
                        >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. E
                        xplicabo aperiam magni illum dolorem aut minus! Assumenda, 
                        alias voluptatum pariatur, quidem blanditiis eius, perspiciatis beatae 
                        sit expedita reiciendis animi quos a.
                        </p>
                        <a href="#" class="boton" target="_blank">Ver proyecto</a>
                    </div>
                </article>
            </div>
        </article>
    </main>
    <footer class="pie_de_pagina" role="contentinfo">
        <div class="pie_de_pagina__columna">
            <h4 class="pie_de_pagina__titulo_columna">Mis redes</h4>
            <ul class="enlaces enlaces_redes">
                <li class="enlaces__item">
                    <a 
                        class="enlaces__enlace enlaces__enlace_footer"
                        href="https://github.com/lezcano65"
                        target="_blank"
                    ><img 
                        class="enlaces__icono"
                        src="/static/assets/images/logo/logo2.png" 
                        alt="logo de github"
                        title="github"
                    /></a>
                </li>
                <li class="enlaces__item">
                    <a 
                        class="enlaces__enlace enlaces__enlace_footer"
                        href="https://www.instagram.com/fede.lezcano/"
                        target="_blank"
                    >
                    <img 
                        class="enlaces__icono"
                        src="/static/assets/images/logo/html-5.png" 
                        alt="logo de instagram"
                        title="instagram"
                    />
                    </a>
                </li>
                <li class="enlaces__item">
                    <a
                    class="enlaces__enlace enlaces__enlace_footer"
                    href="https://twitter.com/1394Alves"
                    target="_blank"
                    ><img
                        class="enlaces__icono"
                        src="./assets/images/logos/x-logo.png"
                        alt="logo de X"
                        title="X"
                    /></a>
                </li>
            </ul>
        </div>
        <div class="pie_de_pagina__columna">
            <h4 class="pie_de_pagina__titulo_columna">Contactame</h4>
            <ul class="enlaces enlaces_vertical">
                <li class="enlaces__item">
                    <a 
                        class="enlaces__enlace enlaces__enlace_footer"
                        href="mailto:lezcano65@gmail.com"
                        target="_blank"
                    >Mail: lezcano@gmail.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="pie_de_pagina__columna" role="navigation">
            <h4 class="pie_de_pagina__titulo_columna">Secciones</h4>
            <ul class="enlaces enlaces_vertical">
                <li class="enlaces__item">
                    <a 
                    class="enlaces__enlace enlaces__enlace_footer"
                    href="#presentacion">
                        Inicio
                    </a>
                </li>
                <li class="enlaces__item">
                    <a class="enlaces__enlace enlaces__enlace_footer" href="#sobre-mi">
                        Sobre mi
                    </a>
                </li>
                <li class="enlaces__item">
                    <a 
                        class="enlaces__enlace enlaces__enlace_footer"
                        href="#proyectos">
                        Proyectos
                    </a>
                </li>
            </ul>
        </div>
        <div class="pie_de_pagina__copyright">
            <p>©️Copyright 2025</p>
        </div>
    </footer>
</body>
</html>